<ion-view>
<ion-nav-bar class="bar-stable bar-color-positive"></ion-nav-bar>
<ion-tabs class="tabs-light tabs-color-positive tabs-icon-top">
  <ion-tab ng-cloak title="Recent" href="#/tab/recent" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline">
    <ion-nav-view name="recent-tab"></ion-nav-view>
  </ion-tab>
      <ion-tab ng-cloak title="Chat" href="#/app/tab/chats" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
    <ion-nav-view name="chats-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab ng-cloak title="Map" href="#/app/tab/map" icon-on="ion-ios-location" icon-off="ion-ios-location-outline">
    <ion-nav-view name="map-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab ng-cloak title="People" href="#/app/tab/people" icon-on="ion-ios-list" icon-off="ion-ios-list-outline">
    <ion-nav-view name="people-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab ng-cloak title="Settings" href="#/app/tab/settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
    <ion-nav-view name="settings-tab"></ion-nav-view>
  </ion-tab>
</ion-tabs>
</ion-view>